
<div class="container mt-5 mb-5 ">
    <div class="row">
    
      <div class="card mt-5">     
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, ut quibusdam? Obcaecati temporibus ex facilis aliquid modi fuga ullam animi, placeat optio saepe, nisi velit exercitationem, quo sit consectetur iste?<br/>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. In fugit quod officia ab. Provident veniam nisi deleniti saepe nesciunt, assumenda at maxime eos. Obcaecati ipsam laudantium sit hic repudiandae ducimus!<br/>

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus error, perferendis non veniam mollitia assumenda odio officiis recusandae aut, beatae quae velit ad fugit sit cumque consequatur qui architecto facere rem similique rerum? Asperiores, quisquam maiores nisi molestias modi et.<br><br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, magni. Assumenda voluptatem blanditiis fuga, alias corrupti, aperiam sapiente reprehenderit dolore veniam quas perferendis. Libero fugiat error corporis at quia aspernatur expedita alias accusamus. Aspernatur veritatis ducimus esse similique, reprehenderit mollitia est. Reiciendis dicta officiis eaque in explicabo neque consequatur maiores.

    </p>
</div>
    </div>
</div> 



