
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="text-center mt-4 mb-2">
                        <h4>Create New Account</h4></div>
                        <form [formGroup]="SignupForm"  (ngSubmit)="OnSignup(SignupForm.value)">
                            
                            <!-- username -->
                        <div class="form-floating  col mb-2">                  
                         <input type="text" name="Username"  class="form-control"  formControlName="Username"/>
                         <label for ="floatingInput"> UserName</label> 
                         <!-- display error start -->
                         <div *ngIf="check.Username.invalid && (check.Username.touched || check.Username.dirty)">
                         <span class="text-danger" 
                         *ngIf="check.Username.errors?.required">*UserName is required</span>
                         </div>
                         <!-- display error end -->
                        </div>
                        <!-- phonenumber -->
                        <div class="form-floating col mb-2">
                         <input type="text" name="Phonenumber"  class="form-control"formControlName="Phonenumber"/>
                         <label for ="floatingInput">PhoneNumber</label>
                         <!-- display error start -->
                         <div *ngIf="check.Phonenumber.invalid && (check.Phonenumber.touched || check.Phonenumber.dirty)">
                            <span class="text-danger" 
                            *ngIf="check.Phonenumber.errors?.required">*Phonenumber is required</span>
                            <span class="text-danger" 
                            *ngIf="check.Phonenumber.errors?.pattern">*Enter valid Phonenumber</span>
                            </div>
                            
                        <!-- display error end -->
                        </div>
                        <!-- Email -->
                        <div class="form-floating mb-2">
                         <input type="email" name="Email"  class="form-control" formControlName="Email"/>
                         <label for ="floatingInput">Email</label>
                          <!-- display error start -->
                          <div *ngIf="check.Email.invalid && (check.Email.touched || check.Email.dirty)">
                            <span class="text-danger" 
                            *ngIf="check.Email.errors?.required">*Email is required</span>
                            <span class="text-danger" 
                            *ngIf="check.Email.errors?.email">*Enter valid Email</span>
                            </div>
                        <!-- display error end -->
                        </div>
                        <!-- Password -->
                        <div class="form-floating mb-2">
                         <input type="password"name="Password"   class="form-control"formControlName="Password" value="">
                         <label for="floatingInput">Password</label>
                         <!-- display error start -->
                         <div *ngIf="check.Password.invalid && (check.Password.touched || check.Password.dirty)">
                            <span class="text-danger" 
                            *ngIf="check.Password.errors?.required">*Password is required</span>
                            <span class="text-danger" 
                            *ngIf="check.Password.errors?.minlength">*Password must have 6 characters</span>
                        
                            </div>
                            <!-- display error end -->
                        </div>
                        <!-- confirm password -->
                        <div class="form-floating mb-2">
                        <input type="password"name="Confirmpassword"  class="form-control"formControlName="Confirmpassword" value="">
                         <label for="floatingInput">Confirmpassword</label>
                         <!-- display error start -->
                         <div *ngIf="check.Confirmpassword.invalid && (check.Confirmpassword.touched || check.Confirmpassword.dirty)">
                            <span class="text-danger" 
                            *ngIf="check.Confirmpassword.errors?.required">*Confirmpassword is required</span>
                            <span class="text-danger" 
                            *ngIf="check.Confirmpassword.errors?.MustMatch">*Confirmpassword din't matched</span>
                            
                            </div>
                            <!-- display error end -->
                            </div>
                        <div>
                            <!-- button -->
                        <button type="submit" class="btn mt-6">Signup</button><br/>
                        <p> Already a member<a routerLink="/login"> Login</a></p>
                        </div>
                </form>
                 </div>
            </div>
        </div>
    </div>
</body>

